p {
    margin: 0;
}

h3 {
    font-family: 'Brice';
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.event {
    display: flex;
    margin: 0 0 40px 0;
}

.time {
    display: flex;
    font-family: 'Brice';
    font-size: 1.17em;
    color: var(--orange);
    height: fit-content;
}

.description {
    margin: 0 0 0 24px;
}

@media screen and (max-width: 768px) {
    .event {
        display: block;
    }

    .description {
        margin: 0;
    }
}